@import url('https://fonts.cdnfonts.com/css/garet');

@font-face {
  font-family: "Theseason";
  src: url("../fonts/theseasons/theseasons-reg.otf") format("opentype");
}

@font-face {
  font-family: "Theseason-light";
  src: url("../fonts/theseasons/theseasons-lt.otf") format("opentype");
}

@font-face {
  font-family: "Garet";
  src: url("../fonts/garet/Garet-Book.otf") format("opentype");
}

:root {
  --green: #232924;
  --light-green: #385643;
  --beige: #f3f1ed;
  --gold: #d1ba8e;
}

main {
  background-color: var(--beige);
  font-family: "Theseason-light";
  margin-top: -10rem;
}

.bg-green {
  background-color: var(--green);
}

.btn-success {
  background-color: var(--green) !important;
}

.text-light-green {
  color: var(--light-green);
}

.bg-white {
  background-color: white;
}

.font-garet {
  font-family: 'Garet';
}

.title {
  font-size: 3rem;

  @media (min-width: 768px) {
    padding-top: 5rem;
    font-size: 6rem;
  }
}

.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.fs--3 {
  font-size: 3rem;
}

.fs--6-md {
  @media (min-width: 768px) {
    font-size: 6rem;
  }
}

.pt--10 {
  padding-top: 10rem;
}

nav {
  height: 10rem;
}

.photo-welcome {
  height: 35rem;
  background-image: url("../../src/images/welcome.jpg");
  background-position: bottom;
  background-size: 55rem;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    height: 45rem;
    background-position: center;
    background-size: cover;
  }
}

.photo-hands {
  height: 25rem;
  background-image: url("../../src/images/description-hands.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-dance {
  height: 30rem;
  background-image: url("../../src/images/description-dance.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-forest {
  height: 25rem;
  background-image: url("../../src/images/forest.jpg");
  background-position: bottom -25px right;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-goodbye {
  height: 30rem;
  background-image: url("../../src/images/goodbye.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    height: 43rem;
    background-position: bottom -25px right;
  }
}

.photo-black-and-white {
  height: 20rem;
  background-image: url("../../src/images/black-and-white.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    height: 35rem;
    background-position: bottom;
  }
}