<div class="py-4" id="hospedaje">
  <div class="row m-0 justify-content-center">
    <div class="col-10 col-md-8 py-5 text-center">
      <h1>
        <span class="fs-2 mb-4">HOSPEDAJE HOTEL</span>
        <br>
        <span class="fs-1">CROWNE PLAZA</span>
      </h1>
      <p class="fs-4">
        Reservaciones  800 839 9300
      </p>
      <%= link_to "Más información", "hospedaje.pdf", class: "btn fs-4 btn-success btn-lg px-5 rounded-pill mt-3", target: "_blank" %>
    </div>
  </div>
</div>