<footer class="bg-green">
  <p class="text-white text-end pe-4 mb-0 py-2 font-garet">
    Diseñado por <a href="https://www.instagram.com/live.lulas/" class="link-light" target="_blank">Livelulas</a>
  </p>
</footer>
