<div class="py-4" id="detalles">
  <div class="row m-0 justify-content-center">
    <div class="col-10 col-md-8 py-5">
      <h1 class="text-center mb-4 font-garet text-secondary fs-3">DETALLES DEL EVENTO</h1>
      <div class="row mt-5">
        <div class="col d-flex flex-column align-items-center justify-content-start">
          <img src="images/icons/mail.png" alt="mail" class="w-75 mb-2 p-3"/>
          <p class="text-cente fs-5">
            Sugerencia de regalo
          </p>
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-start">
          <img src="images/icons/liverpool.png" alt="liverpool" class="w-75 mb-2 p-3"/>
          <p class="text-center fs-5">
            Mesa de Regalos
            <br>
            <span class="font-garet">51209415</span>
          </p>
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-start">
          <img src = "images/icons/clothe.png" alt="clothe" class="w-75 mb-2 p-3"/>
          <p class="text-center fs-5">
            Formal, Vestido Largo
            <br>
            Traje Obscuro
          </p>
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-start">
          <img src="images/icons/glasses.png" alt="glasses" class="w-75 mb-2 p-3"/>
          <p class="text-center fs-5">
            No Niños
          </p>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-8 mb-5 mt-3">
      <p class="text-center fs-5">
        ESTA INVITACIÓN ES PARA <strong>2 PERSONAS</strong>
      </p>
    </div>
  </div>
  <div class="photo-forest">
  </div>
</div>