<div class="bg-green px-md-5">
  <div class="row m-0">
    <div class="col-md-6 col-12 p-0">
      <div class="photo-goodbye">
      </div>
    </div>
    <div class="col-md-6 col-12 py-5 px-md-5 px-4">
      <div class="row text-white">
        <div class="col-12 d-flex justify-content-center justify-content-md-start">
          <img src = "images/icons/logo.png" alt="logo"/>
        </div>
        <div class="col-12">
          <p class="fs-4">
            Estamos muy felices  por compartir este día especial con ustedes.
          </p>
          <p class="fs-4">
            Esperamos contar con su presencia y celebrar juntos nuestro amor, rodeados de ustedes nuestros amigos y familiares.
          </p>
          <p class="fs-2">
            Con cariño
          </p>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <img src = "images/icons/logo-lg.png" alt="logo"/>
        </div>
      </div>
    </div>
  </div>
</div>