<div class="itinerary text-white py-md-4" id="itinerario">
  <div class="row m-0 justify-content-center">
    <div class="col-12 col-md-8 bg-green py-5 shadow-lg p-3 mb-5">
      <h1 class="text-center mb-4 font-garet text-light-green fs-3">Itinerario</h1>
      <div class="d-flex justify-content-center mb-5">
        <img src = "images/icons/church.svg" alt="church"/>
        <div class="d-flex flex-column ms-4">
          <h3>Parroquia</h3>
          <h2>San Juan Bautista</h2>
          <h3>De La Salle De Monterrey</h3>
          <h2 class="font-garet">4:00 PM</h2>
          <p class="font-garet">Virgilio Garza 400, Chepevera, 64030 Monterrey, N.L.</p>
          <%= link_to "Ubicación", "/", class: "btn btn-outline-light btn-lg w-75 rounded-pill", target: "_blank" %>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <img src = "images/icons/party.svg" alt="party"/>
        <div class="d-flex flex-column ms-4">
          <h3>Parroquia</h3>
          <h2>San Juan Bautista</h2>
          <h3>De La Salle De Monterrey</h3>
          <h2 class="font-garet">4:00 PM</h2>
          <p class="font-garet">Virgilio Garza 400, Chepevera, 64030 Monterrey, N.L.</p>
          <%= link_to "Ubicación", "/", class: "btn btn-outline-light btn-lg w-75 rounded-pill", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>