<nav class="navbar navbar-expand-md bg-transparent font-garet">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src = "images/icons/logo.png" alt="logo"/></a>
    <button class="navbar-toggler btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-justify"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav fs-md-2 fs-4 text-decoration-underline text-white text-end">
        <li class="nav-item">
          <a class="nav-link text-white" href="#itinerario">Itinerario</a>
        </li>
        <li class="nav-item mx-md-5">
          <a class="nav-link text-white" href="#detalles">Detalles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#hospedaje">Hospedaje</a>
        </li>
      </ul>
    </div>
  </div>
</nav>