<section class="bg-green pt-4">
  <div class="photo-welcome">
    <div class="h-100 text-white d-flex flex-column justify-content-center align-items-center">
      <h1 class="fs--3 fs--6-md pt-5">Maryfer y Aldo</h1>
      <h2 class="fs-2 font-garet">4 DE NOVIEMBRE 2023</h2>
    </div>
  </div>
</section>
<section class="bg-beige">
  <div class="row m-0 justify-content-center">
    <p class="col-10 col-md-6 text-center p-5 fs-1 px-2 px-md-5">
      Con la presencia de nuestro Dios y la bendición de Nuestros Padres...
    </p>
  </div>
  <div class="fs-3 pt-5 pb-5 mt-3 bg-white font-garet row m-0 justify-content-center align-items-start">
    <div class="d-flex flex-column justify-content-center align-items-center col-md-3 col-6 text-center">
      <img src = "images/icons/heart.svg" alt="heart"/>
      <span>Ángeles Torres</span>
      <span>†  José Arturo Novelo</span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center col-md-3 col-6 text-center">
      <img src = "images/icons/heart.svg" alt="heart"/>
      <span>Verónica Aguilar</span>
      <span>Jairo Romero</span>
    </div>
  </div>
  <div class="photo-hands mt-5">
  </div>
  <div class="bg-white py-5">
    <div class="row m-0 justify-content-center">
      <div class="col-12 col-md-7">
        <p class="fs-3 w-md-50 w-100 text-center px-md-5 pb-0 mb-0">
          Nos emociona compartir con ustedes este día tan especial en nuestras vidas.
        </p>
        <p class="fs-3 w-md-50 w-100 text-center mb-4 px-md-5">
          Con alegría, nos complace invitarlos a celebrar nuestra boda.
        </p>
        <p class="text-center fs-1 font-garet">
          4 | NOVIEMBRE | 2023
        </p>
      </div>
    </div>
  </div>
  <div class="photo-dance">
  </div>
</section>
